In [44]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [45]:
import sklearn
import sklearn_pandas
import pandas as pd
import ailab
import requests

In [46]:
df_test=pd.read_csv("titanic-test.csv")

# Convert to JSON

In [47]:
data=df_test.head().to_json(orient='records')


print(data)

[{"PassengerId":892,"Pclass":3,"Name":"Kelly, Mr. James","Sex":"male","Age":34.5,"SibSp":0,"Parch":0,"Ticket":"330911","Fare":7.8292,"Cabin":null,"Embarked":"Q"},{"PassengerId":893,"Pclass":3,"Name":"Wilkes, Mrs. James (Ellen Needs)","Sex":"female","Age":47.0,"SibSp":1,"Parch":0,"Ticket":"363272","Fare":7.0,"Cabin":null,"Embarked":"S"},{"PassengerId":894,"Pclass":2,"Name":"Myles, Mr. Thomas Francis","Sex":"male","Age":62.0,"SibSp":0,"Parch":0,"Ticket":"240276","Fare":9.6875,"Cabin":null,"Embarked":"Q"},{"PassengerId":895,"Pclass":3,"Name":"Wirz, Mr. Albert","Sex":"male","Age":27.0,"SibSp":0,"Parch":0,"Ticket":"315154","Fare":8.6625,"Cabin":null,"Embarked":"S"},{"PassengerId":896,"Pclass":3,"Name":"Hirvonen, Mrs. Alexander (Helga E Lindqvist)","Sex":"female","Age":22.0,"SibSp":1,"Parch":1,"Ticket":"3101298","Fare":12.2875,"Cabin":null,"Embarked":"S"}]

# Call API (v1)

In [53]:
header = {'Content-Type': 'application/json', \
                  'Accept': 'application/json'}

model_id="pipeline_demo_best_v1"
resp = requests.post(f"http://localhost:9001/predict/{model_id}/", \
                    data = data,\
                    headers= header)

print(resp.status_code)
print(len(resp.content))

out_df=pd.DataFrame(resp.json())
display(out_df)

200
181

          0         1
0  0.696113  0.303887
1  0.497475  0.502525
2  0.637201  0.362799
3  0.792576  0.207424
4  0.436823  0.563177

# Call API (v2)

In [54]:
header = {'Content-Type': 'application/json', \
                  'Accept': 'application/json'}

model_id="pipeline_demo_best_v2"
resp = requests.post(f"http://localhost:9001/predict/{model_id}/", \
                    data = data,\
                    headers= header)

print(resp.status_code)
print(len(resp.content))

out_df=pd.DataFrame(resp.json())
display(out_df)

200
99

      0     1
0  0.66  0.34
1  0.48  0.52
2  0.52  0.48
3  0.80  0.20
4  0.36  0.64